.modal-header {
  text-align: center;
}

#note_create_form {
  text-align: center;
}

.container {
  text-align: center;
}

.controls {
/*This should handle the layout of the labels on the text boxes in the create modal*/
}
