<div class="container">
  <h1>Jesse's Notes</h1>
  <div class='row'>
    <div class='span12'>
      <div class='nav nav-list'>
          <li class="nav-header">Shit You Can Do</li>
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="#createNote" data-toggle="modal">Create A New Note For Jesse</a></li>
            <li><a href='/all_notes'>See All Notes</a></li>
      </div>
    </div>
  </div>
</div>



<%= erb :_create_note %>